<template>
  <div class="shangping-index">    
    <div class="index-max">
      <el-form class="form" inline>
        <el-form-item label="关键词">
          <el-input v-model="list"></el-input>
        </el-form-item>
        <el-form-item class="right">
          <el-button type="primary" >搜索</el-button>
          <el-button>清空</el-button>
        </el-form-item>
      </el-form>
      <div class="addClick">
        <el-button type="primary">添加</el-button>
      </div>
      
    <el-table
    :data="tableData"
    stripe
    style="width: 100%">
    <el-table-column
      prop="name"
      label="姓名">
    </el-table-column>
    <el-table-column
      prop="address"
      label="地址">
    </el-table-column>
    <el-table-column
      prop="date"
      label="价格">
    </el-table-column>
  </el-table>
    </div>    
  </div>
</template>

<script>
import axios from"axios"
export default {
data() {
      return {
        list:'',
        tableData: [{
          date: '$12',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1517 弄'
        }, {
          date: '2016-05-01',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1519 弄'
        }, {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1516 弄'
        }],
        rules:{
          name:[
            {required:true,message:"请输入名称"}
          ]
        }
      }
    },
    created(){
      axios.get("/api/manage/product/list.do").then(res=>{
        console.log(res.data)
      })
    }
}
</script>
<style lang="scss" scoped>
.shangping-index{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  .addClick{
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .index-max{
    width: 100%;
    height:100%;
    background: #fff;
  }
  .form {
    padding: 30px 20px 30px 50px;
    .right {
      float: right;
    }
  }
}
.el-table{
  ::v-deep td{
    padding: 20px 0 !important;
    font-size: 16px;
  }
}
</style>