<template>
  <div class="index">
    <div class="flex">
      <div class="divv">
        <div class="titlie">用户总数</div>
        <p class="ii"></p>
        <div class="shun">{{ num.orderCount }}</div>
      </div>
      <div class="divv">
        <div class="titlie">用户总数</div>
        <p class="ii"></p>
        <div class="shun">{{ num.productCount }}</div>
      </div>
      <div class="div">
        <div class="titlie">用户总数</div>
        <p class="ii"></p>
        <div class="shun">{{ num.userCount }}</div>
      </div>
    </div>
    <div class="tubiao">
      <div id="main" style="width:100%;height:600px"></div>
    </div>
  </div>
</template>
<script>
import * as echarts from "echarts";
import { getData } from "../api";
export default {
  data() {
    return {
      num: {},
    };
  },
  mounted() {
    getData().then((res) => {
      this.num = res.data.data;
      // console.log(this.num)
    });
     
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    var option;
    option = {
      xAxis: {
        type: "category",
        data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
      },
      yAxis: {
        type: "value",
      },
      series: [
        {
          data: [220,120,140,234,123,123,435],
          type: "bar",
          showBackground: true,
          backgroundStyle: {
            color: "rgba(180, 180, 180, 0.2)",
          },
        },
      ],
    };
    option && myChart.setOption(option);
  },
};
</script>
<style lang="scss" scoped>
.index {
  .flex {
    margin: 0 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      flex: 1;
      height: 150px;
      background: #fff;
    }
    .divv {
      margin-right: 30px;
      .titlie {
        margin: 15px 0 0 20px;
      }
      .ii {
        border-bottom: 1px solid #e8e8e8;
      }
      .shun {
        font-size: 26px;
        font-weight: bold;
        margin-left: 20px;
      }
    }
    .div {
      .titlie {
        margin: 15px 0 0 20px;
      }
      .ii {
        border-bottom: 1px solid #e8e8e8;
      }
      .shun {
        font-size: 26px;
        font-weight: bold;
        margin-left: 20px;
      }
    }
  }
}
</style>
