<template>
  <div>
    <el-container>
      <el-aside width="auto"><coponent-aside/></el-aside>
      <el-container>
        <el-header class="header"><component-header/></el-header>
         <component-tag/>
        <el-main style="backgournde="><router-view></router-view></el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import ComponentTag from"@/components/componentTag.vue"
import CoponentAside from '@/components/CoponentAside.vue';
import ComponentHeader from "@/components/componentHeader.vue";
export default {
  components: { CoponentAside,ComponentHeader,ComponentTag },
};
</script>

<style lang="scss" scoped>
.header{
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 21 41 / 8%) 0px 1px 4px;
}
.el-main{
  background: #f0f2f5;
}
</style>