<template>
  <div class="login">
    <div class="login-left">
      <div class="leftt">
        <div class="login-margin">
          <el-form
            ref="loginForm"
            :rules="loginFormRules"
            :model="loginForm"
            style="width: 300px"
          >
          <h3>欢迎使用飞书</h3>
            <el-form-item prop="username" label="用户名">
              <el-input autocomplete="off" v-model="loginForm.username">
                <template slot="prepend">
                  <i class="el-icon-user"></i>
                </template>
              </el-input>
            </el-form-item>

            <el-form-item prop="password">
              <el-input
                style="display: none; width: 0; height: 0"
                v-model="loginForm.password"
                autocomplete="off"
              >
                <template slot="prepend">
                  <i class="el-icon-lock"></i>
                </template>
              </el-input>
              <el-input
                data-placeholder="请输入密码"
                name="password"
                data-required="true"
                type="password"
                autocomplete="new-password"
                data-max-length="50"
                tabindex="2"
                spellcheck="false"
                id="auto-id-1505904797992"
                v-model="loginForm.password"
              >
                <template slot="prepend">
                  <i class="el-icon-lock"></i>
                </template>
              </el-input>
            </el-form-item>

            <el-form-item>
              <el-button
                :loading="loginStatus"
                style="width: 100%"
                type="primary"
                @click="handleLogin"
                >登录</el-button
              >
            </el-form-item>
            <div class="login-checkbox">
              <input type="checkbox">
              <span>我已阅读并同意</span>
              <a data-v-10d9df09="" href="https://homewh.chaoxing.com/agree/userAgreement?appId=900001" class="el-link el-link--primary is-underline">用户协议</a>
              <span>和</span>
              <a data-v-10d9df09="" href="https://sso.unipus.cn/sso/agreements/privacy-20211123.html"  class="el-link el-link--primary is-underline">隐私政策</a>
            </div>
          </el-form>
        </div>
      </div>
      
    </div>
    <div class="login-right">
      <!-- <img src="public/bj.png" alt=""> -->
    </div>
  </div>
</template>
<script>

import qs from "qs";
export default {
  data() {
    const validateUsername = (rule, value, callback) => {
      //value 传入的值  需要校验的值
      //callback 通过它来触发回调函数
      let regex = /^[a-zA-Z0-9_-]{4,16}$/;
      if (!regex.test(value)) {
        callback(new Error("用户名需要4-16位"));
        return;
      }
      callback();
    };
    return {
      loginForm: {
        username: "",
        password: "",
      },
      loginFormRules: {
        username: [
          //普通校验
          // { required: true, message: "请输入账号",trigger: "blur"},
          //{ min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
          {
            validator: validateUsername,//自定义方法校验
            trigger: "blur",//触发 失去焦点时触发
          },
        ],
        password: [{ required: true, message: "请输入密码" }],
      },
      loginStatus: false,
    };
  },
  methods: {
    handleLogin() {
      this.$refs.loginForm.validate(async (valid) => {
        if(valid){
          const params = new URLSearchParams();
          Object.keys(this.loginForm).map(item=>{
            params.append(item,this.loginForm[item]);
          })
          params.append("username",this.loginForm.username)
          params.append("password",this.loginForm.password)
          // this.loginStatus = true
          try{
            const res = await this.$http.post(
              "/api/manage/user/login.do",
              params
            );
            // this.loginStatus = true
          if (res.status >= 200 && res.status < 300) {
              if (res.data.status === 0) {
                this.$message.success(res.data.msg);
                this.$router.push({ name: "home" });
              } else {
                this.$message.error(res.data.msg);
              }
            } else {
              this.$message.warning(res.statusText);
            } 
          }catch (error){
            // this.loginStatus = true
          }
        }
      })
    }
  },
};
</script>
<style lang="scss" scoped>
.login {
  height: 100vh;
  .login-left{
    width: 75%;
    height: 100vh;
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .leftt{
      width: 480px;
      height: 600px;      
      background: #ffffff0d;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 5px;
      .login-margin{
        
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }   
  }
  .login-right{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (max-width: 1450px) {
  .login-left {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .login-right {
    display: none;
  }
}
}
</style>
