<template>
  <div class="headers">
    <div class="max">
      <div class="max-x">
        <el-button
          :collapse="isCollapse"
          icon="el-icon-menu"
          size="mini"
          @click="hendermun"
        ></el-button>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item v-for="item in tags" :key="item.name" :to="{ path: item.path }">{{item.label}}</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div style="background:'#000'">
        <el-dropdown>
          <span class="el-dropdown-link">
            <img
              src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
              alt=""
              class="imgs"
            />
            admin<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>账户管理</el-dropdown-item>
            <el-dropdown-item>退出登录</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
  data() {
    return {
      isCollapse: false,
    };
  },
  methods: {
    hendermun() {
      this.$store.commit("collapseMenu");
    },
  },
  computed:{
    ...mapState({
      tags:state => state.tab.tabList
    })
  },
  mounted(){
    // console.log(this.tags,"2222")
  }
};
</script>

<style lang="scss" scoped>
.el-breadcrumb{
  color: #000;
}
.headers {
  height: 90%;
  margin: 0 auto;
  .max {
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    .max-x{
      display: flex;
      align-items: center;
      el-breadcrumb{
      margin-left:10px;
    };
    }
    .el-dropdown-link {
      cursor: pointer;
    }
    .el-icon-arrow-down {
      font-size: 12px;
    }
  }
  .imgs {
    width: 30px;
    height: 30px;
  }
}
</style>
