<template>
  <div>
    <el-tag
      v-for="item in tags"
      :key="item.path"
      :closable="item.name !== 'homepage'"
      :effect="$route.name === item.name ? 'dark':'plain'"
    >
      {{ item.label }}
    </el-tag>
  </div>
</template>

<script>
import {mapState} from "vuex"
export default {
    data(){
        return {
            
        }
    },
    computed:{
        ...mapState({
            tags:state => state.tabsList
        })
    }
};
</script>

<style></style>
