<template>
  <div class="componentaside">
    <el-menu
      default-active="1-4-1"
      class="el-menu-vertical-demo"
      @open="handleOpen"
      @close="handleClose"
      :collapse="isCollapse"
      background-color="#001529"
      text-color="#fff"
      active-text-color="#ffd04b"
    >
    <h5 class="tioo">{{isCollapse ? "后台":"通用管理后台系统"}}</h5>
      <el-submenu v-for="item in hasChildren" :key="item.lebel" :index="item.lebel">
        <template slot="title">
          <i class="el-icon-location"></i>
          <span slot="title">{{item.lebel}} </span>
        </template>
        <el-menu-item-group v-for="itemm in item.children" :key="itemm.label">
          <el-menu-item @click="clickMenu(itemm)" :index="itemm.label">{{itemm.label}}</el-menu-item>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
  </div>
</template>

<style lang="scss" scoped>
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
.componentaside{
    .el-menu-vertical-demo{
        height: 100vh;
        .tioo{
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 20px;
            background-color: #2A2C2F;
            width: 85%;
            padding: 15px 0;
            font-size: 16px;
            color: #fff;
            text-align: center;
            font-weight: 500;
        }
    }
}
</style>

<script>
export default {
    // name:componentaside,
  data() {
    return {
      // isCollapse: false,
      list:[
        {
          lebel:"仪表盘",
          icon:"location",
          children:[
              {
                path:"/",
                name:"homepage"  ,
                label:"首页",
                icon:"setting",
                url:"../views/homepage.vue"
              },
          ]
        },
        {
          lebel:"商品",
          icon:"location",
          children:[
              {
                path:"/commodity",
                name:"commodity"  ,
                label:"商品管理",
                icon:"setting",
                url:"../views/Commodity.vue"
              },
          ]
        },
        {
          lebel:"品类",
          icon:"location",
          children:[
              {
                path:"/category",
                name:"category"  ,
                label:"品类管理",
                icon:"setting",
                url:"../views/category.vue"
              },
          ]
        },
        {
          lebel:"订单",
          icon:"location",
          children:[
              {
                path:"/orderfor",
                name:"orderfor"  ,
                label:"订单管理",
                icon:"setting",
                url:"../views/orderfor.vue"
              },
          ]
        },
        {
          lebel:"用户",
          icon:"location",
          children:[
              {
                path:"/user",
                name:"user"  ,
                label:"用户管理",
                icon:"setting",
                url:"../views/user.vue"
              },
          ]
        }
      ]
    };
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    },
    clickMenu(itemm){
      if(this.$route.path !== itemm.path && !(this.$route.path === "/home" && (item.path === "/"))){
        this.$router.push(itemm.path)
      }
      this.$store.commit("selectMenu",itemm)
    }
  },
  computed:{
    hasChildren(){
      return this.list.filter(item => item.children)
    },
    isCollapse(){
      return this.$store.state.tab.isCollapse
    }
  }
};
</script>
