<template>
  <div>
    <input type="text" v-model="list.username">
    <br>
    <input type="text" v-model="list.password">
    <br>
    <button @click="login">登录</button>
  </div>
</template>

<script>
export default {
  data(){
    return {
      list:{
        username:"",
        password:""
      }
    }
  },
  methods:{
    login(){
      this.$http.post("/api/login",this.list).then(res=>{
        //this.list 指的是接口需要传的参数，需要什么传什么
        localStorage.setItem("token",res.data.token) //存储在token中  如果不需要可忽略
        this.$router.push({  //你要跳转的页面 
          path:"/index2"
        })
      })
    }
  }
}
</script>

<style>

</style>